doctype html
html
  head
    meta(charset="utf-8")
    title= page_title({include_site_title: true})
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    != partial("_partial/post/open_graph")
    link(rel="alternative" href="/atom.xml" title=config.title type="application/atom+xml")
    link(rel="stylesheet" href="/css/style.css")
  body
    .site-wrapper
      != partial("_partial/header")
      section!= body
    != partial("_partial/footer", {cache: true})
    
    script(src="/js/app.js")
