.archive-list
  list-style none
  margin 40px 0 0 0
  padding 0

.archive-list__item
  display block
  padding 20px 0
  border-bottom 1px dotted color-text

.archive-list__title
  display inline
  font-size inherit
  font-weight bold

.archive-list__date
  &:before
    content "/"
