.article__meta
  position relative
  padding 20px 20px 0
  margin-top 20px
  color lighten(color-text, 50%)
  font-size 14px
  font-weight 600

  &::before
    content ""
    position absolute
    top 0
    left 50%
    width 100px
    margin-left -50px
    border-top 1px dotted color-text

  a
    color inherit
    text-decoration none


.article__date
  time
    font-weight 700


.article__author
  white-space nowrap

  &::before
    content "◈"
    margin 0 .5em
    font-weight 400

  strong
    font-weight 700


.o-tag-list
  white-space nowrap

  &::before
    content "◈"
    margin 0 .5em
    font-weight 400

  +for_breakpoint(mobile)
    display block

    &::before
      display none

.o-tag-list__item
  font-weight bold

  + .o-tag-list__item::before
    content " / "

  &:hover, &:focus
    color color-primary


.article__body
  padding-top 40px

  +for_breakpoint(mobile)
    padding-top 20px

  a
    position relative
    border-bottom 1px dotted color-primary
    font-weight 600
    transition background-color .1s

    &::after
      content ""
      position absolute
      bottom -1px
      left 50%
      right 50%
      height 1px
      background-color color-primary
      transition all .2s

    &:hover, &:focus
      background-color lighten(color-text, 95%)

      &::after
        left 0
        right 0
        height 2px


.article__sharing
  position absolute
  right 0
  bottom 1px
  text-transform uppercase
  font-size 14px

  +for_breakpoint(mobile)
    right 50%
    margin-right -16px

  a
    display inline-block
    height 32px
    line-height 32px
    text-align center
    background-color lighten(color-text, 90%)
    transition background-color .2s

    span
      padding 0 10px
      vertical-align top

    i
      display inline-block
      width 32px
      height 32px
      line-height 32px
      border-left 1px dotted white

    &:hover, &:focus
      background-color color-primary-hover
      color white
