.article + .article
  margin-top 60px


.article__meta
  position relative
  padding 20px 20px 0
  margin-top 20px
  color lighten(color-text, 50%)
  font-size 14px
  font-weight 600

  &::before
    content ""
    position absolute
    top 0
    left 50%
    width 100px
    margin-left -50px
    border-top 1px dotted color-text

  a
    color inherit
    text-decoration none


.article__date
  time
    font-weight 700


.article__author
  white-space nowrap

  &::before
    content "◈"
    margin 0 .5em
    font-weight 400

  strong
    font-weight 700


.article__tags
  white-space nowrap

  &::before
    content "◈"
    margin 0 .5em
    font-weight 400

  +for_breakpoint(mobile)
    display block

    &::before
      display none

  a
    font-weight bold

    &:hover, &:focus
      color color-primary


.article__body
  padding-top 40px

  a
    position relative
    border-bottom 1px dotted color-primary
    transition background-color .1s

    &::after
      content ""
      position absolute
      bottom -1px
      left 50%
      right 50%
      height 1px
      background-color color-primary
      transition all .2s

    &:hover, &:focus
      background-color lighten(color-text, 80%)

      &::after
        left 0
        right 0
        height 2px
