.c-site-footer
  height footer-height
  padding 60px 10px 0
  font-size 14px
  line-height 22px
  text-align center
  text-transform uppercase
  background color-text
  color lighten(color-text, 70%)

  +for_breakpoint(mobile)
    padding-top 30px

  a
    color inherit
    font-weight bold

    &:hover, &:focus
      color white

  p
    display inline
    margin 0

    + p::before
      content " / "

    +for_breakpoint(mobile)
      display block

      &::before
        display none
