.site-header
  padding 60px 10px 0
  text-align center

  +for_breakpoint(mobile)
    padding-top 40px
    padding-bottom 0

.site-header__title
  position relative
  display inline-block
  margin 0
  font-weight bold
  font-size 16px
  line-height 32px
  text-transform uppercase
  letter-spacing 2px
  background-color color-primary
  transition all

  a
    display block
    padding 0 10px

  &::before
  &::after
    content ""
    position absolute
    z-index 1
    background-color inherit
    transition all .2s

  &::before
    width 20%
    top -1px
    bottom 0
    left 2px

  &::after
    top 5px
    bottom 2px
    left 0
    right -1px

  &:hover, &:focus
    background-color darken(color-primary, 10%)

    &::before
      left 0
      bottom -1px
      width 100%

    &::after
      top 0
      bottom 0
      left -1px

  a
    position relative
    z-index 2
    color white
    text-decoration none

.site-nav
  margin-top 40px
  font-size 16px
  font-weight bold
  text-transform uppercase

.site-nav__link
  position relative
  text-decoration none
  transition background-color .1s

  &::after
    content ""
    position absolute
    bottom -1px
    left 50%
    right 50%
    height 1px
    background-color color-primary
    transition all .2s

  &:hover, &:focus
    background-color lighten(color-text, 95%)

    &::after
      left 0
      right 0
      height 2px

.site-nav__link + .site-nav__link
  margin-left 20px

  +for_breakpoint(mobile)
    margin-left 10px

.site-nav__link--current
  &::after
    left 0
    right 0
    height 2px

  &::before
    content ""
    position absolute
    bottom -8px
    left 50%
    height 0
    width 0
    margin-left -8px
    background-color transparent
    border-color transparent
    border-top-color color-primary
    border-style solid
    border-width 8px 8px 0
