.site-header
  padding 80px 40px 20px
  text-align center

.site-header__title
  position relative
  display inline-block
  margin 0
  font-weight bold
  font-size 16px
  line-height 32px
  text-transform uppercase
  letter-spacing 2px
  background-color color-primary
  transition all

  a
    display block
    padding 0 10px

  &::before
  &::after
    content ""
    position absolute
    z-index 1
    background-color inherit
    transition all .2s

  &::before
    width 20%
    top -1px
    bottom -1px
    left 10px

  &::after
    height 60%
    top 5px
    left -1px
    right -1px

  &:hover, &:focus
    background-color darken(color-primary, 10%)
    
    &::before
      left 0
      width 100%

    &::after
      top 0
      height 100%

  a
    position relative
    z-index 2
    color white
    text-decoration none

.site-header__nav
  position absolute
  left 20px
  top 20px
  font-size 16px
  font-weight bold
  text-transform uppercase

  a
    text-decoration none

    + a
      margin-left 20px

.site-header__tools
  position absolute
  right 20px
  top 20px
  font-size 16px
  font-weight bold
  text-transform uppercase
