.site-header
  padding 80px 20px
  background-color #40c64c
  text-align center

.site-header__title
  display inline-block
  margin 0
  padding 0 20px
  font-weight bold
  text-transform uppercase
  border-radius 4px
  background-color #181408

  a
    color white
    text-decoration none

.site-header__nav
  position absolute
  left 20px
  top 20px
  font-size 16px
  font-weight bold
  text-transform uppercase

  a
    text-decoration none
    color white

    + a
      margin-left 20px

.site-header__tools
  position absolute
  right 20px
  top 20px
