*
  box-sizing border-box

html, body
  height 100%

body
  margin 0
  background-color color-page

a
  color color-primary
  text-decoration none

.site-wrapper
  min-height 100%
  margin-bottom -(footer-height)
  padding-bottom 80px

  +for_breakpoint(mobile)
    padding-bottom 20px

  &::after
    content ""
    display block
    height footer-height

section
  margin 0 auto
  padding 40px 10px
  max-width 800px
