.o-page-header
  padding 0 0 40px 0
  border-bottom 6px solid color-text
  text-align center
  text-transform uppercase

  +for_breakpoint(mobile)
    padding 0 10px 40px
    margin 0 -10px

.o-page-header__title
  margin 0

  a
    color color-text
    text-decoration none

    &:hover, &:focus
      background-color lighten(color-text, 95%)
