.o-pagination
  margin-top 80px
  font-size 14px
  line-height 30px
  font-weight 600
  text-align center

  +for_breakpoint(mobile)
    margin-top 40px

.o-pagination__link
  position relative
  display inline-block
  padding 0 10px
  background-color color-primary
  border-color color-primary
  color color-page
  transition all .2s

  + .o-pagination__link
    margin-left 1px

  &:hover, &:focus
    background-color color-primary-hover
    border-color color-primary-hover

    +for_breakpoint(desktop)
      .o-pagination__link-title
        display block

.o-pagination__link-label
  display inline-block

.o-pagination__link-icon
  display inline-block
  padding-right 5px
  line-height inherit
  vertical-align top

  .o-pagination__link--next &
    padding-right 0
    padding-left 5px

.o-pagination__link-title
  display none
  position absolute
  bottom 40px
  left 50%
  width 280px
  margin-left -140px
  padding 5px 10px 8px
  font-weight normal
  line-height 20px
  background-color inherit
  border-color inherit
  border-radius 2px

  &::after
    content ""
    position absolute
    bottom -8px
    left 50%
    height 0
    width 0
    margin-left -8px
    border transparent
    border-top-color inherit
    border-style solid
    border-width 8px 8px 0

.o-pagination__social
  display inline-block

  &::after
    content "◈"
    margin 0 .5em
    font-weight normal

  &:last-child::after
    display none

  +for_breakpoint(mobile)
    .o-pagination__link-icon
      padding 0


.o-pagination__link-count
  margin-left .25em
  padding 0 4px
  background-color lighten(color-primary, 80%)
  color color-primary
  border-radius 4px
