.o-page-list
  list-style none
  margin 0
  padding 0

.o-page-list__page
  display block
  padding 20px 0
  border-bottom 1px dotted color-text
  transition all .2s

  &:hover, &:focus
    background-color lighten(color-primary, 95%)

    +for_breakpoint(desktop)
      padding 20px 10px

.o-page-list__page-title
  display inline
  font-size inherit
  font-weight bold

.o-page-list__page-date
  &:before
    content "/"
