body
  font-family "Open Sans", sans-serif
  font-size 18px
  line-height 1.8
  color color-text

code
  font-family "Roboto Mono"
  font-weight normal

h1
  font-weight normal
  font-size 32px

h2
  font-size 24px

h3
  font-weight bold
  font-size 18px

p
  max-width 600px

ul
  max-width 600px

blockquote
  margin-left 0
  padding 5px 30px
  border-left 1px dotted lighten(color-text, 50%)

  p
    margin 0
    font-style italic
    color lighten(color-text, 50%)
