body
  font-family "Open Sans", sans-serif
  font-size 18px
  line-height 30px
  color color-text
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

pre,
code
  font-family "Source Code Pro", monospace
  font-weight normal
  font-size 14px
  -webkit-text-size-adjust none
  -moz-osx-font-smoothing auto
  -webkit-font-smoothing auto

h1
  font-weight bold
  font-size 50px
  line-height 1.2

  +for_breakpoint(tablet)
    font-size 40px

  +for_breakpoint(mobile)
    font-size 30px

h2
  margin-top 2em
  font-size 24px
  line-height 1.2

  &:first-child
    margin-top 0

h3
  font-weight bold
  font-size 18px

blockquote
  margin-left 0
  padding 5px 30px
  border-left 1px dotted lighten(color-text, 50%)

  p
    margin 0
    font-style italic
    color lighten(color-text, 50%)
