@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic|Roboto+Mono:400,700,400italic"

color-page    = #F5F2E4
color-text    = #535353
color-primary = #2B7EC5

*
  box-sizing border-box

body
  margin 0 10px 10px
  background-color color-page

a
  position relative
  color color-primary
  transition background-color .1s
  text-decoration none

  p &
    border-bottom 1px dotted color-primary

    &::after
      content ""
      position absolute
      bottom -1px
      left 50%
      right 50%
      height 1px
      background-color color-primary
      transition all .2s

    &:hover
      background-color lighten(color-text, 80%)

      &::after
        left 0
        right 0

section
  margin 0 auto
  padding 40px 0
  max-width 800px

@import "_typography"
@import "_header"
@import "_footer"
@import "_code"
@import "_article"
