@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic|Source+Code+Pro:400"

color-page          = white
color-text          = #535353
color-primary       = #2B7EC5
color-primary-hover = darken(color-primary, 20%)

footer-height       = 200px

@import "_helpers"
@import "_layout"
@import "_icons"
@import "_typography"
@import "_header"
@import "_footer"
@import "_page_header"
@import "_code"
@import "_article"
@import "_page_list"
@import "_pagination"
@import "_comment_box"
@import "_tag_cloud"
