@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Roboto+Mono:400,700,400italic"

color-text = #424242

*
  box-sizing border-box

body
  margin 0

section
  margin 0 auto
  padding 40px 0
  max-width 800px

@import "_typography"
@import "_header"
@import "_code"
