article.article&attributes(schema || {})
  if post.link || post.title
    header.o-page-header
      != partial("post/title")
      if is_post() || is_home()
        .article__meta
          span.article__date!= partial("post/date")
          span.article__author
            | By <strong itemprop="author">#{config.author}</strong>
          if post.tags && post.tags.length
            span.o-tag-list
              | Tagged as:&nbsp;
              for tag in post.tags.toArray()
                a.o-tag-list__item(href=url_for(tag.path)) #{tag.name}

  .article__body(itemprop="articleBody")
    != post.content

unless index
  != partial("post/nav")

if !index && post.comments && config.disqus_shortname
  section#disqus-thread: div: noscript
    | Please enable JavaScript to view the
    | <a href="//disqus.com/?ref_noscript">comments powered by Disqus</a>.
