<footer class="site-footer">
  <span class="site-footer__line">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
  </span>
  <span class="site-footer__line">
    Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    and <a href="https:/github.com/" target="_blank">GitHub</a>
  </span>
  <span class="site-footer__line">
    Theme inspired by <a href="http://ghost.jollygoodthemes.com/ghostwriter/" target="_blank">Ghostwriter</a>
    from <a href="http://ghost.jollygoodthemes.com/" target="_blank">JollyGoodThemes</a>
  </span>
</footer>
