if post.prev || post.next
  nav.o-pagination
    if post.prev
      a.o-pagination__link.o-pagination__link--prev(href=url_for(post.prev.path))
        i.o-pagination__link-icon.icon-left
        span.o-pagination__link-label Newer
        span.o-pagination__link-title= post.prev.title
    if post.next
      a.o-pagination__link.o-pagination__link--next(href=url_for(post.next.path))
        span.o-pagination__link-label Older
        i.o-pagination__link-icon.icon-right
        span.o-pagination__link-title= post.prev.title
