if post.prev || post.next
  nav.o-pagination
    if post.prev
      a.o-pagination__link.o-pagination__link--prev(href=url_for(post.prev.path))
        | Newer
        | <span class="o-pagination__link-title">#{post.prev.title}</span>
    if post.next
      a.o-pagination__link.o-pagination__link--next(href=url_for(post.next.path))
        | Older
        | <span class="o-pagination__link-title">#{post.next.title}</span>
