<% if (post.tags && post.tags.length){ %>
  <span class="article__tags">
    Tagged as:
    <%- list_tags(post.tags, {
      style: 'p',
      separator: ' / ',
      show_count: false
    }) %>
  </span>
<% } %>
