<% if (post.tags && post.tags.length){ %>
  <div class="article__tags">
    &mdash; Tagged as:
    <%- list_tags(post.tags, {
      style: 'p',
      separator: '',
      show_count: false
    }) %>
  </div>
<% } %>
